.py_3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py_5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt_5 {
  padding-top: 3rem;
}

.pt_3 {
  padding-top: 1rem;
}

.overflow_hidden {
  overflow: hidden;
}
